<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ecommerce REST API Test Suit">
    <test name="End To End Client API Tests">
        <classes>
            <class name="com.rahulshettyacademy.BaseTest">
<!--                <methods>-->
<!--                    <exclude name="setup"/>-->
<!--                </methods>-->

        </classes>
    </test>
</suite>